################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClaimProcessor/bin/Debug/net8.0
/ClaimProcessor/obj
